<div class="main">
    <div class="loading" *ngIf='!this.ps.Response'>
        <div class='tall'>
            <div>
                <div class='firstBar'></div>
                <div class='secondBar'></div>
            </div>
        </div>
        <div class="tallest">
            <div>
                <div class='firstBar'></div>
                <div class='secondBar'></div>
            </div>
        </div>
        <div class='taller'>
            <div>
                <div class='firstBar'></div>
                <div class='secondBar'></div>
            </div>
        </div>
        <div class="tall">
            <div>
                <div class='firstBar'></div>
                <div class='secondBar'></div>
            </div>
        </div>
        <div class='tallest'>
            <div>
                <div class='firstBar'></div>
                <div class='secondBar'></div>
            </div>
        </div>
        <div class='taller'>
            <div>
                <div class="firstBar"></div>
                <div class="secondBar"></div>
            </div>
        </div>
        <div class='tall'>
            <div>
                <div class="firstBar"></div>
                <div class="secondBar"></div>
            </div>
        </div>
    </div>
    <div class="response" *ngIf='this.ps.Response'>
        <div class='tall' *ngFor='let image of this.ps.Response.results' [ngStyle]="{'background-image': 'url(' + image.urls.regular + ')', 'background-position': 'center', 'background-size': 'cover', 'background-repeat': 'no-repeat'}" (click)='showModal(image)'>
            <!-- <div style='height: 30px'>
                <img [src]='image.urls.regular' alt="">
            </div> -->
            <div class='imageInfo'>
                <div class='publisherName'>{{image.user.name}}</div>
                <div class='publisherLocation'>{{image.user.location}}</div>
            </div>
        </div>
    </div>


</div>

<div id='modal' [ngClass]='{active: this.modal}'>
    <div class="modal-dialog">

        <span class="close" (click)='hideModal()'>&times;</span>

        <div class="modal-content" [ngStyle]="{'background-image': 'url(' + this.modalImage['urls']['regular'] + ')', 'background-position': 'center', 'background-size': 'contain', 'background-repeat': 'no-repeat'}">
            <div class='modalImageInfo'>
                <div class='modalPublisherName'>{{modalImage['user']['name']}}</div>
                <div class='modalPublisherLocation'>{{modalImage['user']['location']}}</div>
            </div>
        </div>
    </div>
</div>
